h1,p,div,a,li,ul,nav{
  font-family: 'Noto Sans JP', sans-serif;
}
h1{
  font-weight: 900;
}
.main{
    height: 330px;
    position: relative;
  }
@media screen and (min-width: 481px) {
  .main{
    min-width: 800px;
    height: 700px;
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  font-weight: 900;
}

.header_nav_item {
  font-size: 10px;
}
@media screen and (min-width: 481px){
  .header_nav_item {
    font-size: 15px;
  }
}
.header_nav_item:last-child {
  margin-right: 10px;
}
@media screen and (min-width: 481px) {
  .header_nav_item:last-child {
    margin-right: 80px;
  }
}
.header_nav_item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 481px) {
  .header_nav_item:not(:last-child) {
    margin-right: 60px;
  }
}

.header_link {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}
.header_link:link {
  color: #000000;
}
.button_left{
  text-align: right;
}
.index{
  text-align: center;
  font-size: 15px;
}
.button{
  background: #FFFFFF;
  color: 	#00008B;
  border: 1px #00008B double;
  width: 30px;
  margin: 0px 20px 5px 20px;
}
@media screen and (min-width: 481px){
  .index {
    font-size: 20px;
    padding: 50px;
  }
}

.table{
  margin: 10px auto;
  width: 90%;

}
.list {
  border-top: 1px solid #000000;
}

.item:first-child{
  text-align: left;
}
.item {
  align-items: center;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 8px;
  white-space: nowrap;
}
@media screen and (min-width: 481px)
{
  .item{
    align-items: center;
    font-size: 18px;
    padding: 27px 5vw;
  }
}

.item_time {
  align-items: center;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 8px;
}
@media screen and (min-width: 481px)
{
  .item_time{
    font-size: 18px;
    text-align: center;
  }
}
.page {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@media screen and (min-width: 481px)
{
  .page {
    padding: 25px 0px 50px 0px;
  }
}
input[type="date"]::-webkit-datetime-edit-fields-wrapper{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
